<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.mapper.UserMapper" >


    <!--sql标签用于定义你要查询的这些常用的列-->
    <sql id="selectBase">
        user_id,name,gender
    </sql>

    <resultMap id="baseMap" type="com.sz.entity.User" >
        <id property="id" column="user_id"/>
        <result property="age" column="age"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
    </resultMap>


    <insert id="inserTive">
      insert into t_user (user_id
      <if test="name != null">
          ,name)
      </if>
      values(#{id}
        <if test="name != null">
            ,#{name})
        </if>

    </insert>
    <update id="update">
        <if test="id != null">
            update t_user
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="age != null">
                    age = #{age},
                </if>
                <if test="gender != null">
                    gender = #{gender},
                </if>
            </set>
            <where>
                user_id = #{id}
            </where>
        </if>
    </update>
    <update id="update2">

        update  t_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
        </trim>
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                and user_id  = #{id}
            </if>
        </trim>
    </update>

    <select id="selecTive" resultMap="baseMap">
        select * from t_user

        <!--这是传统的避免and操作符语法错误的一种方式
         不优雅，
           1 = 1，使用where标签来解决这个问题
           where会自动帮我们去除前面多余的and 符号，【注意】只能处理前置的and
           where下的第一个if里面的and 可以写，可以不写。
           后面的都要写。
           全部写就完事了。
         -->


      <where>
          <if test="id != null">
              and user_id = #{id}
          </if>
          <if test="name  != null">
              and name = #{name}
          </if>
          <if test="age != null">
              and age = #{age}
          </if>
          <if test="gender != null">
              and gender = #{gender}
          </if>
      </where>
    </select>
    <select id="selectByGender"  resultMap="baseMap">
      select
      <choose>
          <when test="gender == 1">
              user_id,name
          </when>
          <otherwise>
              user_id,age
          </otherwise>
      </choose>
        from t_user
    </select>


    <select id="listAll" resultMap="baseMap">
        select
        <!-- include 用于引用定义好的SQL节点当中列举的部分SQL。 -->
        <include refid="selectBase"/>
        from t_user
    </select>
    
    <select id="findInIds" resultMap="baseMap">
        select 
        <include refid="selectBase"/> , age
        from t_user
        where user_id in
        <foreach collection="list" item="item" open="(" close=")" separator="," >
          #{item}
        </foreach>
    </select>

    <!--测试再次提交-->
</mapper>





















