<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>




    <!--编写一下配置文件-->

    <!--配置环境们，配置环境
            生产环境
            测试环境
            开发环境
    -->

    <!--引入外部的属性文件
        在外的属性文件当中的优先级高于
        property子节点
    -->
    <properties resource="db.properties"/>
    <!--<properties resource="testdb.properties"/>-->
    <!--注册别名-->

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!--注册别名，方便简写，虽然很好的样子，但是不建议使用-->
        <!--这个是一劳永逸的注册方法-->
        <!--<package name="com.sz.entity"/>-->
        <!--<typeAlias type="com.sz.entity.User" alias="user"/>-->
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!--支持三种类型 UNPOOLED  POOLED  JNDI-->
            <dataSource type="POOLED">
                <!--数据库连接的四项基本属性-->
                <property name="url" value="${url}"/>
                <property name="driver" value="${driver}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <!--支持三种类型 UNPOOLED  POOLED  JNDI-->
            <dataSource type="POOLED">
                <!--数据库连接的四项基本属性-->
                <property name="url" value="${url}test"/>
                <property name="driver" value="${driver}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--切记切记，写完Mapper.xml之后要引入文件-->

    <mappers>
        <!--<mapper resource="mappers/StudentMapper.xml"/>-->
        <!--<mapper class="com.sz.dao.StudentDao"/>-->
        <!--通过包的方式引入，一劳永逸-->
        <!--就用这种-->
        <package name="com.sz.mapper"/>
    </mappers>
</configuration>